/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Background_body_video{
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: block;
  overflow: hidden;
  height: 1035px;
  margin-top: -35px;
}
.Background_video_body{
  object-fit: cover;
}

/* Back_TO_Home_Navigation_Button */
.Back_to_Home {
  margin-top: 10px;
  margin-left: 55px;
  position: absolute;
  z-index: 99;
}

/* Form_Box */

.Form_Box {
  width: 1810px;
  height: 900px;
  background-color: #011627ff;
  vertical-align: middle;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 10px 8px 30px rgb(100, 154, 185);
  border: 2px solid white;
}

/* image */
.img {
  float: left;
  width: 600px;
  height: 965px;
  object-fit: cover;
  object-position: bottom;
}
.Welcome_Image{
  position: absolute;
  top: 250px;
  left: 100px;
  width: 400px;
  height: 400px;
  filter: drop-shadow(5px 5px 30px rgb(81, 255, 0) );
}
.Checkbox1:checked{
  color: green;
  box-shadow: 0px 0px 10px aqua;
  border: 5px solid yellow;
  padding: 50px;
}
.Checkbox1:not(checked){
  color: red;
  box-shadow: 0px 0px 10px orange;
}
/* Terms_conditions */
.Terms_conditions {
  float: left;
  clear: left;
  position: absolute;
  top: 20px;
  left: 650px;
  color: white;
  width: 300px;
  line-height: 30px;
}
.Terms_conditions li::first-letter{
  color:yellow;
  font-size: 18px;
}
.Terms_conditions li{

}
.Terms_conditions h3 {
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Terms_conditions p {
  margin-top: -20px;
}
.form ul li{
  list-style: none;
  display: inline-block;
  color: white;
  margin: 10px;
  padding: 10px 20px;
}

/* DesigninBox */
.selection {
  position: absolute;
  top: 415px;
  left: 675px;
}
.selection select{
  padding: 10px 15px;
  border-radius: 10px;
}

/* May Video Inside USe commmend */
/* .Design_in_box {
  position: absolute;
  z-index: 50;
  margin-top: 50px;
  margin-left: -10px;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background: linear-gradient(
    125deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );

} */

/* Formspage */
.Iframe_container{
  position: relative;
  top: 50px;
  left: -15px;
}
.form ul li:first-child{
    color: yellow;
}
.form ul li:nth-child(3){
  color: aqua;
}
.form ul li:nth-child(even){
  color: aqua;
}
.form ul li:nth-child(odd){
  color: yellow;
}
input:default{
  padding: 20px 30px;
  background-color: green;
}
textarea {
  resize: none;
  margin-bottom: -30px;
}
.form ul input:first-child{
  padding: 10px 30px;
  outline-style: none;
  border-radius: 20px;
}
.Num:in-range{
  background-color:aqua;
}
.Num:out-of-range{
  background-color: lightcoral;
}
.Email:valid{
  color: white;
  background-color: aqua;
}
.Email:invalid{
  color: black;
  background-color: lightcoral;
}
.Fill::after{
  background-color: lightyellow;
  border: ;
}
.File input:default{
  padding: 10px;
  color: wheat;
  background-color: greenyellow;
}
.File{
  margin-left: -30px;
  padding: 10px 30px;
  color: red;
}
.imge_Form {
  width: 100%;
  height: 100%;
}
.form {
  margin-left: 1005px;
}
.Form_Box {
  position: relative;
}
.submit_button{
  background: linear-gradient(
    125deg,
    rgb(58, 91, 180) 0%,
    rgb(107, 1, 59) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
  font-size: 15px;
  font-weight: 800;
  border-radius: 60px;
  border-color: aqua;
  box-shadow: 0px 0px 30px aqua;
}
.reset{
  color: black;
  background-color: red;
  border-radius: 20px;
  border-color: rgb(255, 217, 0);
  font-size: 15px;
  font-weight: 800;
  color: white;
}
.checkbox2:checked{
  color: green;
  box-shadow: 0px 0px 10px aqua;
  border: 5px solid yellow;
  padding: 50px;
}
.checkbox2:not(checked){
  color: red;
  box-shadow: 0px 0px 10px orange;
}